


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="thumbnail" style="margin-top:20px; background-color:#89BF0F;">

        <div class="text-center"> <h4>Bravo vous venez de réserver votre chat !!</h4>
        </div>

      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="thumbnail" style="background-color:#89BF0F;">

        <h4 class="text-center"> Récapitulatif de votre réserveration </h4>


           <%= image_tag @booking.cat.picture %>
          <p> Vous avez réservé <%= @booking.cat.name %> entre <%= @booking.start_time %> et
           <%= @booking.end_time %> </p>
          <p> Le prix de la réservation est de <%= @booking.renting_price %> euros </p>


          <p>N'hésitez pas à nous contacter sur notre addresse contact@rentmycat.miaou</p>

     </div>

    </div>

  </div>
</div>
