


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="thumbnail" style="margin-top:20px;">

        <div class="text-center"> <h4>Bravo vous venez d'envoyez une demande de réservation. Vous serez avertis par email lorsque le propriétaire aura validé votre demande.</h4>
        </div>

      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="thumbnail">

        <p>Récapitulatif de votre réserveration</p>


           <%= image_tag @booking.cat.picture %>
          <p> Vous avez réservé <%= @booking.cat.name %> entre <%= @booking.start_time %> et
           <%= @booking.end_time %> </p>
          <p> La somme totale que vous devrez lui régler est de <%= @booking.renting_price %> euros </p>


          <p>N'hésitez pas à nous contacter sur notre addresse contact@rentmycat.miaou</p>

     </div>

    </div>

  </div>
</div>
