


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="thumbnail" style="margin-top:20px; background-color:#66CC99;">

        <div class="text-center">
          <h4><strong> Bravo vous venez de réserver votre chat !! </strong> </h4>
        </div>

      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">

        <div class="img-rounded">
          <%= image_tag @booking.cat.picture(:medium) %>
           <h4 class="text-center" style="margin-top:20px;"> <strong> Récapitulatif de votre réserveration </strong> </h4>
          <h4 style="margin-top:20px;"><strong> <%= @booking.cat.name %></strong> a bien été réservé</h4>
          <h4> Vous l'avez réservé de <strong><%= @booking.start_time %> à <%= @booking.end_time %> </strong> </h4>
          <h4> Le prix total de la réservation est de:<strong> <%= @booking.renting_price %> euros</strong> </h4>

          <p>N'hésitez pas à nous contacter sur notre addresse contact@rentmycat.miaou</p>

     </div>
    </div>
  </div>
</div>

 <ul class="list-inline text-center">
          <li>  <%= link_to "Mon profil", dashboard_path, class: "btn btn-primary active btn-lg" %> </li>
          <li>  <%= link_to "Retour", cats_path, class: "btn btn-warning active btn-lg" %> </li>
 </ul>
