

<div class="thumbnail">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="text-center"> <h4>Bravo vous venez d'envoyez une demande de réservation avec le service Rent My Cat </h4>
          <h4> Vous serez avertis par email lorsque le propriétaire aura validé votre demande.</h4>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="thumbnail text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <p>Récapitulatif de votre réserveration</p>

         <% current_user.bookings.each do |booking| %>
          <p>AJOUTER UNE PHOTO DU CHAT</p>
          <p> Vous avez réservé <%= booking.cat.name %> entre <%= booking.start_time %> et
           <%= booking.end_time %> </p>
          <p> Le propriétaire du chat est <%= @booking.cat.owner.first_name %> <%= @booking.cat.owner.last_name %> </p>
          <p> Son addresse email est <%= @booking.cat.owner.email %> </p>
          <p> La somme totale que vous devrez lui régler est de <%= booking.renting_price %> euros </p>

          <p>N'hésitez pas à nous contacter sur notre addresse contact@rentmycat.miaou</p>

    <% end %>

     </div>
    </div>
  </div>
</div>
