<div id="dashboard-page-container">
    <p>Bonjour <%= current_user.first_name %>, bienvenue sur votre dashboard </p>

  <div class="container">

    <div class="row">

       <div class="col-xs-12 col-sm-6" >
            <div class="thumbnail">
                  <h4 class="text-center"> Liste de vos réservations </h4>
              <% @bookings.each do |booking| %>
           <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th> Chat </th>
                    <th> Début </th>
                    <th> Fin </th>
                     <th> Prix </th>
                   </tr>
                     <tbody>
                      <tr>


                      <td><p>  <%= booking.cat.name %> </p> </td>
                      <td>  <%= booking.start_time %> </td>
                      <td>  <%= booking.end_time %> </td>
                      <td>  <%= booking.renting_price %> </td>

                      <% end %>

                        </tr>
                      </tbody>



                </thead>
              </table>
            </div>
          </div>
       </div>


        <div class="col-xs-12 col-sm-6">
            <h4>List of my cats</h4>

            <div class="container">
                <div class="row">
                  <% current_user.cats.each do |cat| %>
                  <div class="col-xs-12 col-sm-3">
                      <div class="thumbnail">
                        <p> <%= cat.name %> </p>
                        <%= image_tag cat.picture.url(:medium) %>
                        <ul class="list-inline">
                          <li><%= link_to "Supprimer", cat_path(cat), method: :delete %></li> |
                          <li><%= link_to "Modifier les infos", edit_cat_path(cat) %></li>
                        </ul>
                     </div>
                    </div>
                  <% end %>
                </div>
             </div>
         </div>


      </div>
    </div>
  </div>
</div>
