<h3>My Dashboard</h3>
<h4>List of my cats</h4>
<% @cats.each do |cat| %>
  <p><%= cat.name %></p>
  <%= cat.picture %>
  <ul class="list-inline">
    <li><%= link_to "Supprimer", cat_path(cat), method: :delete %></li> |
    <li><%= link_to "Modifier les infos", edit_cat_path(cat) %></li>
  </ul>
<% end %>
<h4>My bookings</h4>
<% @bookings.each do |booking| %>
  <p> <%= booking.start_time %> </p>
  <p> <%= booking.end_time %> </p>
  <p> <%= booking.renting_price %> </p>
<% end %>
