<div class= "home-container" >
   <div id="banner-image">
      <div id="banner-title">
         <h2><i class="fa fa-paw"> Louez un chat à côté de chez vous</i></h2>
          <div class="city">
             <%= form_tag cats_path, method: "get", class: "form-inline" do %>
                <div class="form-group">
                  <%= text_field_tag :city, nil, placeholder: "Rechercher par ville", autosave: true, autofocus: true %>
                </div>
                  <%= button_tag(type: "submit", class: "btn btn-success") do %>
                    <h2>Trouvez un chat</h2>
                  <% end -%>
              <% end -%>
          </div>
      </div>
   </div>

  <div id="last-cats-added-container" class="text-center">
      <h2><i class="fa fa-heart"> Nos derniers coups de coeur</i></h2>
      <div class="container">
        <div class="row">
          <% @cats.last(4).each do |cat| %>
            <div class="col-xs-12 col-sm-3 card-home" style= "background-image: url('<%= image_path cat.picture.url(:medium)%>'); background-size:cover" >
              <h2><%= link_to cat.name, cat_path(cat), class: "link-name" %></h2>

              <p><%= truncate(cat.description, :length => 14) %></p>
              <strong><%= number_to_currency(cat.price, :unit => "€") + "/" + "jour" %></strong>
              <p><%= cat.city %></p>

            </div>
           <% end %>
        </div>
      </div>
  </div>
</div>






