<div class= "home-container" >

 <div id="banner-image">
    <div id="banner-title">
       <h1 > <strong> Rent a Cat  </strong> </h1>
       <h2> Louez un chat à côté de chez vous </h2>
        <div id="btn-find-cat">
          <%= link_to "TROUVER UN CHAT", cats_path, class: "btn btn-success" %>
        </div>
      <div class="text-center search-city">
        <%= form_tag(cats_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by city", size: "100x400" %>
        <%= submit_tag "Search", class: "btn btn-success" %>
        <% end %>
      </div>

    </div>
 </div>





  <div id="last-cats-added-container" class="text-center">
    <h2>Les derniers chats ajoutés</h2>
    <div class="container">
      <div class="row">
        <% @cats.last(4).each do |cat| %>
          <div class="col-xs-12 col-sm-3">
          <div class="card-home" style="background-image: url('<%= cat.picture.url(:medim) %>')"></div>


            <h2><%= cat.name %></h2>
              <p><%= truncate(cat.description, :length => 14) %></p>
              <strong><%= number_to_currency(cat.price, :unit => "€") + "/" + "jour" %></strong>
            <%= cat.city %>
          </div>

         <% end %>
      </div>
    </div>
  </div>


</div>






