<div class= "home-container" >
   <div id="banner-image">
      <div id="banner-title">
         <h2><i class="fa fa-paw"> Louez un chat à côté de chez vous</i></h2>
          <div class="city">
            <div class="form-inline">
              <div class="form-group yooo">
             <%= form_tag('/cats', method: "get")  do %>
                <div class="form-group">
                  <%= text_field_tag :city, nil, class: "form-control", placeholder: "Rechercher par ville", autosave: true, autofocus: true, style: "height:55px;width: 300px" %>
                </div>
                  <%= button_tag(type: "submit", class: "btn btn-success") do %>
                    <h5>Rechercher</h5>
                  <% end %>
              <% end %>
            </div>
          </div>
          </div>
      </div>
   </div>

  <div id="last-cats-added-container" class="text-center">
      <h2><i class="fa fa-heart"> Nos derniers coups de coeur</i></h2>
      <div class="container">
        <div class="row">
          <% @cats.last(4).each do |cat| %>
            <div class="col-xs-12 col-sm-3 card-home banner-gradient" style= "background-image: url('<%= image_path cat.picture.url(:medium)%>'); background-size:cover;" >
              <div style="margin-top:150px">
              <h2><%= link_to cat.name, cat_path(cat), class: "link-name" %></h2>
              <strong><%= number_to_currency(cat.price, :unit => "€") + "/" + "jour" %></strong>
              <p><%= cat.city %></p>
             </div>

            </div>
           <% end %>
        </div>
      </div>
  </div>
</div>






