<div class="container form-new-cat">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= simple_form_for @cat do |f| %>
  <%= f.input :name, label: 'Nom:', placeholder: 'Boris' %>
  <%= f.input :description %>
  <%= f.input :price, label: 'Prix par jour' %>
  <%= f.input :address, label: "Numéro et rue" %>
  <%= f.input :zip_code , label: "Code postal" %>
  <%= f.input :city, label: "Ville" %>

  <p><strong>Disponible dans l'immediat :</strong></p>
  <%= f.collection_check_boxes :availability, [[true, 'Oui'] ,[false, 'Non']], :first, :last %>

  <div class="text-center"><%= f.button :submit, "validez", class: "btn btn-warning" %></div>

<% end %>
  </div>
 </div>
</div>
