<div class="container">

<% @cats.each do |cat| %>
<div class="thumbnail">
<h2><%= cat.name %></h2>
<p><%= cat.description %></p>
<strong><%= cat.price %></strong>
<p><%= cat.gender %></p>
<p><%= cat.race %></p>
<h2>Adresse: </h2>
<%= cat.address %>
<%= cat.zip_code %>
<%= cat.city %>
</div>
  <% end %>



</div>
