<div class="container">
   <div class="row">
    <div class="row col-xs-6 col-sm-6 col-md-6" style="margin-top: 27px">
      <% @cats.each do |cat| %>
        <div class="thumbnail card card-gradient col-xs-3 col-sm-3 col-md-3" style="background-image: url('<%=image_path cat.picture.url(:medium)%>')">
          <h2><%= cat.name %></h2>
          <strong><%= cat.price %>€/jour</strong>
          <h2>Où?</h2>
          <%= cat.address %>
          <%= cat.zip_code %>
          <%= cat.city %>
          <div class="list-inline">
            <li>
              <%if cat.availability == false %>
                <button type="button" class="btn btn-danger">Non disponible</button>
              <% else %>
                <button type="button" class="btn btn-success">Disponible</button>
              <% end %>
            </li>
            <li><i><%= link_to "", cat_path(cat), class: "fa fa-paw fa-3x" %></i></li>
          </div>
        </div>
      <% end %>
      <%= will_paginate @cats %>
    </div>

    <div class="container col-xs-12 col-sm-6 col-md-6">
    <div id="map" style="width: 100%; height: 759px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %>
    </div>
 </div>
</div>
