<div class="container">
  <div class="row">
<% @cats.each do |cat| %>
<div class="thumbnail">
<h2><%= cat.name %></h2>
<p><%= cat.description %></p>
//<strong><%= cat.price %></strong>
<h2>Adresse: </h2>
<%= cat.address %>
<%= cat.zip_code %>
<%= cat.city %>

<div class="list-inline">
<li>
<%if cat.availability == false %>
    <button type="button" class="btn btn-danger">Non disponible</button>
<% else %>
    <button type="button" class="btn btn-success">Disponible</button>
<% end %>
</li>

<li><i><%= link_to "", cat_path(cat), class: "fa fa-paw fa-3x" %></i></li>
</div>

</div>
<% end %>


</div>
</div>
