<div class="container" style="margin-bottom:200px" >


<div class="form-inline city" style="margin-top:50px">
  <div class="form-group">
    <%= form_tag('/cats', method: "get")  do %>
      <div class="form-group">
      <%= text_field_tag :city, nil, class: "form-control", placeholder: "Rechercher par ville", autosave: true, autofocus: true, style: "height:55px;width: 300px" %>
        </div>
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <h5>Rechercher</h5>
          <% end %>
    <% end %>
  </div>
</div>


   <div class="row">
    <div class="row col-xs-6 col-sm-6 col-md-6" style="margin-top: 27px">
      <% @cats.each do |cat| %>
        <div class="thumbnail card card-gradient card-hover col-xs-3 col-sm-3 col-md-3" style="background-image: url('<%=image_path cat.picture.url(:medium)%>')">
          <h2><%= cat.name %></h2>
          <strong><h4><%= cat.price %>€/jour</h4></strong>
          <p><%= cat.city %></p>

          <div class="list-inline">
            <div>
            <li class="position">
              <%if cat.availability == false %>
                <span style="color: red">Non disponible</span>
              <% else %>
                <span style="color: green">Disponible</span>
              <% end %>
            </li>
            </div>
            <li class="position2"><%= link_to "RESERVER", cat_path(cat), class: "btn btn-success" %></li>
          </div>
        </div>
      <% end %>
      <%= paginate @cats %>
    </div>

    <div class="container col-xs-6 col-sm-6 col-md-6">
    <div id="map" style="width: 100%; height: 759px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %>
    </div>
 </div>
</div>
