<div class="container">
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="thumbnail card card-gradient col-xs-6 col-md-4 col-sm-4">
        <h2><%= cat.name %></h2>
        <%= cat.picture.url(:medium) %>
        <p><%= cat.description  %></p>
        <strong><%= cat.price %></strong>
        <h2>Adresse: </h2>
        <%= cat.address %>
        <%= cat.zip_code %>
        <%= cat.city %>
        <div class="list-inline">
          <li>
            <%if cat.availability == false %>
              <button type="button" class="btn btn-danger">Non disponible</button>
            <% else %>
              <button type="button" class="btn btn-success">Disponible</button>
            <% end %>
          </li>
          <li><i><%= link_to "", cat_path(cat), class: "fa fa-paw fa-3x" %></i></li>
        </div>
      </div>
    <% end %>

    <div class="col-xs-6 col-md-4 col-sm-4" id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %>
  </div>
</div>
