<div class="container">
  <div class="col-md-6 col-md-offset-3">
<%= simple_form_for @cat do |f| %>
  <%= f.input :name, label: 'Nom: ' %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :gender, collection: [ "male", "femal" ] %>
  <%= f.input :race %>
  <%= f.input :age %>
  <%= f.input :zip_code %>
  <%= f.input :city %>
  <%= f.input :address %>
  <p>Disponible? :</p>
  <%= f.collection_check_boxes :availability, [[true, 'Oui'] ,[false, 'Non']], :first, :last %>

  <div class="text-center"><%= f.button :submit, "validez", class: "btn btn-warning" %></div>

<% end %>
 </div>
</div>
