<nav class="navbar-wagon navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "chatlogo.png" %>
    </a>

    <div class="navbar-wagon-pusher"></div>
    <% if user_signed_in? %>
      <%= current_user.picture %>
      <%= link_to "LOUER SON CHAT", new_cat_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= link_to "MON PROFIL", dashboard_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= link_to "LOG OUT",  destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn", method: :delete %>
    <% else %>
      <%= link_to "LOUER SON CHAT", new_cat_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= link_to "LOG IN" ,  new_user_session_path,      class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= link_to "SIGN UP",  new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
</nav>
